body {
    background-color: #2b2a2a;
}

.main {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 210px;
    height: 250px;
}

img {
    border: 5px solid #fff;
    display: block;
}

img:hover {
    opacity: 0.2;
    content: ':)';
}

.text {
    text-align: center;
    display: block;
    font-family: "Avenir", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 20px;
}